.cards-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
}

.moovie-card {
    width: 355px;
    height: 600px;
    margin: 10px;
    border-radius: 6px;
    border: 1px solid orange;
}

.moovie-card__poster {
    width: 200px;
    height: 250px;
    margin-top: 5px;
    margin-left: 75px;
}

.moovie-card__cancel {
    display: flex;
    flex-direction: row-reverse;
}

.cancel__x {
    width: 18px;
    height: 20px;
    color: black;
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
}

.cancel__x:hover {
    color:orange;
}

.moovie-card__info {
    color:white;
    text-align: center;
}

.rating {
    color:orange;
    font-weight: bold;
}

.name-ru {
    color:orange;
    font-weight: bold;
    font-size: 20px;
}

.name-eng {
    color:orange;
    font-size: 15px;
    font-weight: bold;
}