.main-cards-conatiner {
    display: flex;
    flex-wrap: wrap;
}

.moovie-card {
    width: 322px;
    height: 550px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.moovie-card__poster {
    margin-left: 60px;
}

.moovie-card__cancel {
    display: flex;
    flex-direction: row-reverse;
}
.cancel__x {
    text-align: center;
    border: 1px solid black;
    width: 18px;
    height: 20px;
}