.header__logo {
    height: 45px;
    width: 70px;
    background-image: url('../../pictures/online-kinoteatr.gif');
    background-size: contain;
}

.header__kino-logo {
    height: 45px;
    width: 160px;
    background-image: url('../../pictures/Kinopoisk-logo.svg.png');
    background-size: contain;
    margin-left: 470px;
    margin-right: 470px;
}

.curr_page {
    height: 500px;
    width: 100%;
    background-color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.header-button:hover {
    background-color: goldenrod;
}

.header {
    overflow: hidden;
    background-color: black;
    padding: 20px 10px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.footer {
    height: 150px;
    background-color: black;
}

.header div {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

.header-link {
    text-decoration: none;
}




