.info_container {
    width: 1460px;
    height: 500px;
    color: white;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    padding-bottom: 50px;
    background-color: black;
}

.info-container__p {
    text-indent: 20px;
}